---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Inicio E-commerce">
  <h1 class="text-5xl font-bold text-center pt-8 mb-8">¡Bienvenido!</h1>

  <div>
    <a href="/login">Ir al inicio de sesión</a>
  </div>
</Layout>